@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color : 19, 34, 7;
  --foreground-rgb: 250, 253, 247;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color : 233, 248, 221;
    --foreground-rgb: 5, 8, 2;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--text-color));
  background: rgb(var(--foreground-rgb));
}
